Teste Técnico - Data Scientist\[1799\].pdf
2016.csv/
2017.csv/
2018.csv/
2019.csv/
2016.csv.zip
2017.csv.zip
2018.csv.zip
2019.csv.zip

Word_Embedding_wiki-news-300d-1M-subword.vec/

EmbeddingBaixados
EmbeddingBaixados/skip_s100.zip
EmbeddingBaixados/Wang2Vec_skip_s100 (1).zip
EmbeddingBaixados/Word2Vec_skip_s50.zip

.vector_cache/glove_s100.txt.pt
.vector_cache/skip_s100.txt.pt
.vector_cache/Word_Embedding_wiki-news-300d-1M-subword.vec.pt